<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme">
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="false"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <activity android:name=".MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="com.cc.link3"/>
        <data android:scheme="cyberdune"/>
        <data android:scheme="com.cyberconnnect.link3"/>
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" android:exported="false"/>
    <activity
        android:name=".ui.CyberDuneLoginActivity"
        android:exported="true">
<!--      <intent-filter>-->
<!--        <action android:name="android.intent.action.MAIN" />-->

<!--        <category android:name="android.intent.category.LAUNCHER" />-->
<!--      </intent-filter>-->
      <intent-filter>
        <action android:name="com.cyberconnect.link3.PASSKEY" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity android:name=".ui.MyReactActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    <activity android:name=".ui.CyberAccountActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="com.cyberconnect.link3.WALLET" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
      <activity android:name=".ui.ReceiveActivity"/>
      <activity android:name=".ui.SendActivity"/>
    <activity
      android:name="com.journeyapps.barcodescanner.CaptureActivity"
      android:screenOrientation="fullSensor"
      tools:replace="screenOrientation" />
  </application>
</manifest>