<manifest  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowBackup="true" >
        <activity android:name="expo.modules.cyberpasskey.PasskeyActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:exported="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.cc.link3"/>
                <data android:scheme="cyberdune"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
